body{
    margin: 0;
}

.subheader{
    text-align: center;
}

header > p {
    text-indent: 0%;
}

h1{
    font-size: 55px;
}

.posimg{
    text-align: center;
}

.mapimg{
    height: 25em;
}

#content article{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 2px dotted white;
}

#content article:last-child{
    border-bottom: none;
}

.subTable{
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td{
    border: 1px solid white;
    padding: 10px;
}

.subTable img {
    height: 3em;
}

.onlyColor{
    color: #f7b417;
}

td img{
    transition: all 0.5s ease-in-out;
}

td img:hover{
    transform: scale(1.2) rotate(5deg);
    cursor: pointer;
}

.postxt{
    margin-top: 15px;
    margin-bottom: 15px;
}

section > p {
    text-align: justify;
}
